<div class="flex min-h-screen bg-gray-100">
  <!-- Sidebar -->
  <link
    rel="stylesheet"
    href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
  />
  <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
    <div class="flex items-center justify-center h-20 border-b">
      <h1 class="text-2xl font-bold text-indigo-500">Logoipsum</h1>
    </div>
    <ul class="flex flex-col py-4">
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
          >
            <i class="bx bx-home text-xl text-gray-500"></i>
          </span>
          <span class="text-sm font-medium">Dashboard</span>
        </a>
      </li>

      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-bell"></i
          ></span>
          <span class="text-sm font-medium">Notifications</span>
          <span
            class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500"
            >5</span
          >
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-user"></i
          ></span>
          <span class="text-sm font-medium">settings</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-log-out"></i
          ></span>
          <span class="text-sm font-medium">Logout</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="flex-1 p-8">
    <header class="flex justify-between items-center">
      <h1 class="text-3xl font-semibold">Dossier Patient</h1>
      <button
        (click)="generateQRCode()"
        class="group/button relative inline-flex items-center justify-center overflow-hidden rounded-md bg-blue-500 backdrop-blur-lg px-6 py-2 text-base font-semibold text-white transition-all duration-300 ease-in-out hover:scale-110 hover:shadow-xl hover:shadow-blue-500 border border-white/20"
      >
        <span class="text-lg">generer code qr</span>
        <div
          class="absolute inset-0 flex h-full w-full justify-center [transform:skew(-13deg)_translateX(-100%)] group-hover/button:duration-1000 group-hover/button:[transform:skew(-13deg)_translateX(100%)]"
        >
          <div class="relative h-full w-10 bg-white/30"></div>
        </div>
      </button>

      <!-- Pop-up -->
      <div
        *ngIf="isPopupVisible"
        class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center"
      >
        <div class="bg-white p-8 rounded-lg shadow-lg relative w-3/4 max-w-lg">
          <!-- Bouton de fermeture -->
          <button
            (click)="closePopup()"
            class="absolute top-3 right-3 text-gray-500 hover:text-gray-700 text-2xl"
          >
            ✖
          </button>

          <!-- Titre -->
          <h2 class="text-xl font-bold mb-6 text-center">Code QR Généré</h2>

          <!-- QR Code ou message d'erreur -->
          <div class="flex justify-center items-center">
            <img
              *ngIf="qrCodeDataUrl; else noQrCodeGenerated"
              [src]="qrCodeDataUrl"
              alt="QR Code"
              class="max-w-full max-h-64"
            />
          </div>

          <!-- Message d'absence de QR Code -->
          <ng-template #noQrCodeGenerated>
            <p class="text-red-500 text-center">Aucun QR Code généré.</p>
          </ng-template>
        </div>
      </div>
    </header>

    <!-- Content Grid -->
    <div class="grid grid-cols-4 gap-6 mt-8">
      <!-- Patient Information -->
      <section class="col-span-1 bg-white rounded-lg shadow p-6">
        <div class="info-card bg-white rounded-lg p-5">
          <div class="text-center mb-5">
            <img
            src="../../../assets/images/Image 2.png"
            alt="Profile"
            class="w-24 h-24 rounded-full mb-4 ml-14"
          />
            <h3 class="text-lg font-bold">{{ patient.name }}</h3>
            <p class="text-sm text-gray-600">Age: {{ patient.age }}</p>
          </div>
          <div class="space-y-4">
            <p class="text-gray-800 text-sm">Information</p>
            <div class="flex items-center space-x-4 text-sm">
              <img
                src="../../assets/icons/material-symbols-light--id-card-outline.png"
                alt=""
                class="w-8 h-8"
              />
              <p>
                Num de sécurité sociale: <br />
                <strong>{{ patient.NSS }}</strong>
              </p>
            </div>
            <div class="flex items-center space-x-4 text-sm">
              <img
                src="../../assets/icons/clarity--date-line.png"
                alt=""
                class="w-6 h-6"
              />
              <p>
                Date de naissance: <br />
                <strong>{{ patient.dateNaissance }}</strong>
              </p>
            </div>
            <div class="flex items-center space-x-4 text-sm">
              <img
                src="../../assets/icons/mdi-light--phone.png"
                alt=""
                class="w-6 h-6"
              />
              <p>
                Numéro de téléphone: <br /><strong>{{ patient.NumTel }}</strong>
              </p>
            </div>
            <div class="flex items-center space-x-4 text-sm">
              <img
                src="../../assets/icons/si--mail-line.png"
                alt=""
                class="w-6 h-6"
              />
              <p>
                Email: <br />
                <strong>{{ patient.Email }}</strong>
              </p>
            </div>
            <div class="flex items-center space-x-4 text-sm">
              <img
                src="../../assets/icons/hugeicons--contact-02.png"
                alt=""
                class="w-6 h-6"
              />
              <p>
                Personne à contacter: <br />
                <strong
                  >{{ patient.Contact.Nom }} <br />{{
                    patient.Contact.Tel
                  }}</strong
                >
              </p>
            </div>
            <div class="flex items-center space-x-4 text-sm">
              <img
                src="../../assets/icons/streamline--insurance-hand.png"
                alt=""
                class="w-6 h-6"
              />
              <p>
                Mutuelle: <br /><strong>{{ patient.Mutuelle }}</strong>
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Les Antécédents -->
      <section class="col-span-1 bg-white rounded-lg shadow p-6">
        <h2 class="font-bold text-lg mb-4">Les antécédents</h2>
        <ul class="space-y-4 text-sm text-gray-700">
          <li
            *ngFor="let item of antecedents"
            class="flex items-center space-x-4"
          >
            <div
              class="w-10 h-10 rounded-lg flex items-center justify-center"
              [ngClass]="item.backgroundColor"
            >
              <!-- Affiche une image ou une icône en fonction de la source -->
              <img *ngIf="item.isImage" [src]="item.icon" class="w-6 h-6" />
              <i *ngIf="!item.isImage" [class]="item.icon"></i>
            </div>
            <div>
              <strong>{{ item.title }}:</strong> {{ item.description }}
            </div>
          </li>
        </ul>
      </section>

      <!-- Bilan -->
      <section class="col-span-1 bg-white rounded-lg shadow p-6">
        <h2 class="font-bold text-lg mb-4">Bilan</h2>
        <ul class="space-y-4 text-sm text-gray-700">
          <li
            class="flex justify-between items-center bg-gray-100 p-3 rounded-lg"
          >
            <div class="flex items-center space-x-3">
              <div
                class="w-8 h-8 bg-blue-100 rounded-lg flex items-center justify-center"
              >
                <i class="bx bx-file text-blue-500 text-lg"></i>
              </div>
              <button (click)="showPopup()">
                <div>
                  <span class="font-medium">Bilan Radiologie</span>
                  <br />
                  <span class="text-gray-500 text-xs">01/10/2024</span>
                </div>
              </button>
              <app-radiology-popup
                [isVisible]="issPopupVisible"
              ></app-radiology-popup>
            </div>
          </li>
          <li
            class="flex justify-between items-center bg-gray-100 p-3 rounded-lg"
          >
            <div class="flex items-center space-x-3">
              <div
                class="w-8 h-8 bg-blue-100 rounded-lg flex items-center justify-center"
              >
                <i class="bx bx-file text-blue-500 text-lg"></i>
              </div>
              <div>
                <Button (click)="togglePopup()">
                  <span class="font-medium">Bilan Laboratin</span>
                  <br />
                  <span class="text-gray-500 text-xs">24/10/2024</span>
                </Button>
                <app-bilan-popup
                  [bilanData]="bilanData"
                  [date]="date"
                  [isOpen]="sshowPopup"
                ></app-bilan-popup>
              </div>
            </div>
          </li>
        </ul>
      </section>

      <!-- Ordonnance -->
      <section class="col-span-1 bg-white rounded-lg shadow p-6">
        <h2 class="font-bold text-lg mb-4">Ordonnance</h2>
        <ul class="space-y-4 text-sm">
          <!-- Ordonnance 1 -->
          <li
            class="flex items-center justify-between bg-gray-100 p-4 rounded-lg"
          >
            <div class="flex items-center">
              <i class="bx bxs-file-pdf text-red-500 text-xl mr-4"></i>
              <div>
                <p class="font-medium text-gray-700">Ord1.pdf</p>
                <p class="text-xs text-gray-500">01/10/2024</p>
              </div>
            </div>
          </li>

          <!-- Ordonnance 2 -->
          <li
            class="flex items-center justify-between bg-gray-100 p-4 rounded-lg"
          >
            <div class="flex items-center">
              <i class="bx bxs-file-pdf text-red-500 text-xl mr-4"></i>
              <div>
                <p class="font-medium text-gray-700">Ord2.pdf</p>
                <p class="text-xs text-gray-500">24/10/2024</p>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>

    <!-- Liste des consultations -->
    <section class="bg-white rounded-lg shadow p-6 mt-8">
      <h2 class="font-bold text-lg mb-4">Liste de consultations</h2>
      <ul class="space-y-4 text-sm text-gray-700">
        <li class="flex justify-between bg-gray-100 p-4 rounded-lg">
          <span>Consultation1</span>
          <span>24/10/2024</span>
        </li>
        <li class="flex justify-between bg-gray-100 p-4 rounded-lg">
          <span>Consultation2</span>
          <span>24/10/2024</span>
        </li>
        <li class="flex justify-between bg-gray-100 p-4 rounded-lg">
          <span>Consultation3</span>
          <span>24/10/2024</span>
        </li>
      </ul>
    </section>
  </div>
</div>
