<div class="login-container flex flex-col lg:flex-row h-screen w-screen">
  <!-- Partie gauche -->
  <div class="left-section hidden lg:flex flex-1 bg-white relative">
    <div class="background-color"></div>
    <img src="assets/nv-im.png" alt="Image à gauche" class="left-image absolute top-5 left-2 w-auto max-w-[80%] h-auto object-contain" />
  </div>

  <!-- Partie droite -->
  <div class="right-section flex-1 flex flex-col justify-center items-center p-6 lg:p-8 bg-gray-100 shadow-lg">
    <h2 class="font-bold text-2xl mb-4">Authentification</h2>
    <p class="text-sm lg:text-base mb-6 text-gray-800 text-center">Entrez vos informations pour vous connecter.</p>

    <form (ngSubmit)="onSubmit()" class="w-full max-w-sm lg:max-w-lg flex flex-col gap-4">
      <!-- Nom d'utilisateur -->
      <div class="input-group relative flex flex-col">
        <label for="email" class="mb-1 text-sm lg:text-base text-gray-800 font-semibold">Nom d'utilisateur</label>
        <span class="icon absolute top-2/3 left-3 transform -translate-y-1/2 flex items-center justify-center text-gray-400">
          <img src="assets/tt-icon.png" alt="Nom d'utilisateur" class="icon-img w-5 h-5" />
        </span>
        <input id="email" [(ngModel)]="email" name="email" type="text" placeholder="Entrez votre e-mail" class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg text-sm lg:text-base text-gray-800 bg-white placeholder-gray-400" />
      </div>
      <!-- Mot de passe -->
      <div class="input-group relative flex flex-col">
        <label for="password" class="mb-1 text-sm lg:text-base text-gray-800 font-semibold">Mot de passe</label>
        <span class="icon absolute top-2/3  left-3 transform -translate-y-1/2 text-gray-400">
          <img src="assets/padlock.png" alt="Mot de passe" class="icon-img w-5 h-5 mx-auto" />
        </span>
        <input id="password" [(ngModel)]="password" name="password" type="password" placeholder="Entrez votre mot de passe" class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg text-sm lg:text-base text-gray-800 bg-white placeholder-gray-400" />
      </div>

      <!-- Affichage des erreurs -->
      <div *ngIf="errorMessage" class="error-message text-red-500 font-bold mt-4 text-center">
        {{ errorMessage }}
      </div>

      <!-- Options : Se rappeler de moi et mot de passe oublié -->
      <div class="options flex justify-between items-center w-full">
        <label class="text-gray-500 text-sm lg:text-base flex items-center gap-2">
          <input type="checkbox" [(ngModel)]="rememberMe" name="rememberMe" class="w-4 h-4 cursor-pointer" />
          Se rappeler de moi
        </label>
      </div>

      <!-- Bouton Se connecter -->
      <button type="submit" class="login-button w-full py-3 bg-[#78b2ca] text-white font-bold text-sm lg:text-lg rounded-lg cursor-pointer hover:bg-[#5592B0]">
        Se connecter
      </button>

      <!-- Bouton Se connecter avec Google -->
      <div id="g_id_onload"
        data-client_id="1063283462150-6ts5f6dnuq9gl1hilq71sru1rd69bt4m.apps.googleusercontent.com"
        data-context="signin"
        data-ux_mode="popup"
        data-callback="handleCredentialResponse"
        data-auto_select="false">
      </div>
      <div id="googleSignInButton" class="g_id_signin w-full py-3 bg-white text-black border border-gray-300 rounded-lg flex items-center justify-center gap-3 cursor-pointer font-semibold hover:bg-gray-200">
      </div>
    </form>

    <!-- Inscription -->
    <p class="register-text mt-8 text-sm lg:text-base text-gray-800 text-center">
      Vous n'avez pas de compte ? <a href="#" class="text-[#78b2ca] font-semibold no-underline hover:underline">Inscrivez-vous ici</a>
    </p>
  </div>
</div>
