<div class="flex min-h-screen bg-gray-100">
  <!-- Side Bar -->
  <link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
/>
  <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
    <div class="flex items-center justify-center h-20 border-b">
      <h1 class="text-2xl font-bold text-[#78B2CA]">Logoipsum</h1>
    </div>
    <ul class="flex flex-col py-4">
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
          >
            <i class="bx bx-home text-xl text-gray-500"></i>
          </span>
          <span class="text-sm font-medium">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-bell"></i
          ></span>
          <span class="text-sm font-medium">Notifications</span>
          <span
            class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500"
            >5</span
          >
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-user"></i
          ></span>
          <span class="text-sm font-medium">Settings</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800"
        >
          <span
            class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
            ><i class="bx bx-log-out"></i
          ></span>
          <span class="text-sm font-medium">Logout</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <main class="flex-1 p-6">

    <!-- Formulaire de création du dossier patient -->
    
    <!-- Informations personnelles -->
    <div class="bg-white rounded-lg shadow p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">Informations personnelles</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Nom</label>
          <input type="text" placeholder="Entrez le nom du patient" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2" [(ngModel)]="patient.nom">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Prénom</label>
          <input type="text" placeholder="Entrez le prénom du patient" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2" [(ngModel)]="patient.prenom">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Numéro de sécurité sociale</label>
          <input type="text" placeholder="Entrez le NSS du patient" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2" [(ngModel)]="patient.nss">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Numéro de téléphone</label>
          <input type="text" placeholder="Entrez le numéro de téléphone du patient" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2" [(ngModel)]="patient.telephone">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Date de naissance</label>
        
        <input type="date" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2" [(ngModel)]="patient.dateNaissance">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Adresse</label>
          <input type="text" placeholder="Entrez l'adresse du patient" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2" [(ngModel)]="patient.adresse">
        </div>
      </div>
    </div>

    <!-- Informations médicales -->
    <div class="bg-white rounded-lg shadow p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">Informations médicales</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Mutuelle/Compagnie d’assurance</label>
          <input type="text" placeholder="Entrez la mutuelle du patient" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Nom du médecin traitant</label>
          <input type="text" placeholder="Entrez le nom du médecin traitant" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2">
        </div>
      </div>
    </div>

    <!-- Contact d’urgence -->
    <div class="bg-white rounded-lg shadow p-6 mb-6">
      <h2 class="text-xl font-bold mb-4">Contact d’urgence</h2>
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Nom et prénom</label>
          <input type="text" placeholder="Entrez le nom et prénom du contact" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2">
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Relation au patient</label>
          <select class="w-full border border-gray-300 rounded-lg p-2">
            <option>Frère</option>
            <option>Parent</option>
            <option>Conjoint</option>
            <option>Enfant</option>
            <option>Ami</option>
          </select>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 font-ibm-plex">Numéro de téléphone</label>
          <input type="text" placeholder="Entrez le numéro du contact" class="w-full bg-[#F8FAFC] border-none rounded-lg p-2">
        </div>
      </div>
    </div>

    <!-- Boutons -->
    <div class="flex justify-end gap-4">
      <button class="px-4 py-2 bg-white text-black rounded-lg font-inter font-bold">Annuler</button>
      <button
        class="px-4 py-2 bg-[#78B2CA] text-white font-bold rounded-lg shadow-md"
        (click)="savePatient()"
      >
        Sauvegarder
      </button>
    </div>
  
  </main>

  <!-- Popup -->
<div
*ngIf="isPopupVisible"
class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
<div class="bg-white w-[80%] max-w-xl rounded-lg shadow-lg">
  <div class="bg-[#D6E7EE] text-white text-lg font-bold p-4 rounded-t-lg flex items-center">
    <!-- Icone "Vrai" en vert -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-green-500 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
    </svg>
    <h2 class="text-black text-lg font-semibold">
      Dossier Patient créé avec succès !
    </h2>
  </div>
  <div class="p-8">
    <!-- Informations dans un carré avec bordure noire et coins arrondis -->
    <div class="border border-black rounded-lg p-8 space-y-8">
      <!-- Affichage du nom et prénom concaténés -->
      <h3 class="text-center text-xl font-bold mb-6">
        {{ patient.nom }} {{ patient.prenom }}
      </h3>

      <div class="grid grid-cols-2 gap-6">
        <!-- Carte d'identité et Date de naissance -->
        <div class="flex items-center space-x-2">
          <!-- Icône carte d'identité Boxicons -->
          <i class="bx bx-id-card text-gray-500 h-5 w-5"></i>
          <p class="font-normal"><strong>Numéro de sécurité sociale :</strong> {{ patient.nss }}</p>
        </div>
        <div class="flex items-center space-x-2">
          <!-- Icône calendrier Boxicons -->
          <i class="bx bx-calendar text-gray-500 h-5 w-5"></i>
          <p class="font-normal"><strong>Date de naissance :</strong> {{ patient.dateNaissance }}</p>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-8">
        <!-- Téléphone et Email -->
        <div class="flex items-center space-x-2">
          <!-- Icône téléphone Boxicons -->
          <i class="bx bx-phone text-gray-500 h-5 w-5"></i>
          <p class="font-normal"><strong>Numéro de téléphone :</strong> {{ patient.telephone }}</p>
        </div>
        <div class="flex items-center space-x-2">
          <!-- Icône enveloppe Boxicons -->
          <i class="bx bx-envelope text-gray-500 h-5 w-5"></i>
          <p class="font-normal"><strong>Email :</strong> {{ patient.email }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-end items-center gap-4 bg-white p-4 rounded-b-lg">
    <button
      class="px-4 py-2 bg-gray-200 text-black rounded-md font-semibold shadow-sm hover:bg-gray-400"
      (click)="closePopup()"
    >
      Retour
    </button>
    <button
      class="px-4 py-2 bg-[#b0edbc] text-[#01921C] rounded-md font-semibold shadow-sm hover:bg-gray-400"
      (click)="closePopup()"
    >
      Continuer
    </button>
  </div>
</div>
</div>



</div>