<!--
<router-outlet>

  <nav>
    <a class="button" routerLink="/patient">Crisis Center</a> |
    <a class="button" routerLink="/">Heroes</a>
  </nav>

</router-outlet>

-->
<!--
<p>cc</p>
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
  <h1 class="text-2xl font-bold mb-4">Générer un QR Code</h1>
  <input
    type="number"
    class="border p-2 rounded mb-4"
    [(ngModel)]="qrValue"
    (input)="generateQRCode()"
    placeholder="Entrez un nombre"
  />
  <canvas id="qrcodeCanvas" class="p-4 bg-white rounded shadow"></canvas>
</div>

-->

<router-outlet></router-outlet>
