@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import "@fortawesome/fontawesome-free/css/all.min.css"; */
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Slim scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #000000; /* Thumb color */
    border-radius: 8px; /* Rounded corners */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #5a9db3; /* Darker on hover */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Track background color */
  }

  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox support */
    scrollbar-color: #78B2CA #f5f5f5;
  }
}